#footers {
    background-color: #ecf0f1;
}
#footers .col-md-4{
    padding: 0px;
}
#footers .col-md-3{
    padding: 0px;
}
#footers .col-md-2{
    padding: 0px;
    margin-left: -30px;
}
#footers .col-md-1{
    padding: 0px;
}
#footers p{
    font-size:14px;
    line-height: 10px;
    color: #8c8c8c;
}
#footers .col-md{
   padding: 0px;
}

.title{
font-size: 17px;
    margin-top: 37px;
    margin-bottom: 15px;
}
.last{
    text-align: center;
}
.er{
    margin-top: 20px;
}

#tech-lib h4
{
    color: #333333;
    font-size: 16px;
    line-height: 16px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
#tech-lib p
{
    width: 80%;
    color: #999999;
    font-size: 14px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
#tech-lib .col-md-2
{
    padding: 0px;
}
#tech-lib .row
{
    padding-bottom: 10px;
}


